.form .checkbox {
  display: block;
}

.form .checkbox input, .desktop-inline-buttons h1 {
  margin: 0 16px;
}

@media (min-width: 768px) {
  .form .checkbox {
    margin: 16px auto;
  }
  .desktop-inline-buttons .button {
    grid-row: 2;
  }
  .desktop-inline-buttons h1 {
    grid-column: 1/3;
    text-align: center;
  }
}
