a {
  text-decoration: none;
  color: var(--font-blue);
}

header {
  background-color: var(--pastel-moss);
  align-items: center;
  text-align: right;
  justify-content: space-between;
  padding: 8px;
  display: flex;
}

header img {
  max-width: 62px;
  max-height: 61px;
  align-self: flex-start;
}

.mobile-menu-icon {
  background-color: var(--pastel-moss);
  border: none;
  color: var(--font-blue);
}

.nav-bar ul {
  margin-right: 4px;
}


@media (min-width: 768px) {
  .mobile-menu-icon {
    display: none;
  }
  .nav-bar {
    text-align:center;
    flex-grow:1;
  }

  .nav-bar ul {
    display: flex;
    justify-content: center; 
    margin-right: 0;
    gap: 40px;
    text-align:center; 
  }
}

.nav-bar li {
  list-style: none;
}