@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Just+Another+Hand&display=swap');/* Base HTML Styles */

:root {
  --font-blue: #0A2354;
  --pastel-moss: #B5F1CC;
  --lime-green: #C9F4AA;
  --pale-green: #E5FDD1;
  --pink: #FCC2FC;
}

/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-blue);
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-family: 'Handlee', cursive;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}

/* Global styles */
h1, h2,h3 {
font-family: 'Just Another Hand', cursive;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}