#project-list {
  margin: 10px;
}

@media (min-width: 768px) {
  #project-list {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 10px;
    row-gap: 10px;
    padding: 16px;
    margin: 0;
  }

  .desktop-single-button {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  #project-list h3 {
    font-size: 4rem;
  }
  #home-page .desktop-inline-buttons a{
    display: flex;
    justify-content: center;
    align-items: center;
  }
} 

#home-page h1 {
  text-align: center;
}

#my-causes {
  margin-top: 24px;
  
}

#my-causes, #start-fundraising, #more-projects {
  font-family: "Handlee", cursive;
}