#project-list {
  margin: 10px;
}

#slider-project-list {
  display:none;
}

@media (min-width: 768px) {
  #slider-project-list {
    display:unset;
  }
  #slider-project-list h3 {
    font-size: 4rem;
  }
  .desktop-single-button {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  #project-list {
    display:none;
  }
  #home-page .desktop-inline-buttons a{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#home-page h1 {
  text-align: center;
}

#my-causes {
  margin-top: 24px;
  
}

#my-causes, #start-fundraising, #more-projects {
  font-family: "Handlee", cursive;
}