.project-page {
  padding: 16px;
}

.project-image {
  max-width: 400px;
}
.project-page .button {
  max-width: 240px;
  margin: 30px auto;
}

@media (min-width: 768px) {
  .project-page {
    display: grid;
    grid-template-columns: 40% 60%;
    row-gap: 10px;
    column-gap: 75px; 
  }
  .project-page img {
    grid-row-start: 1;
  }
  
  .project-blurb {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
  }
  .project-blurb h2 {
    margin-bottom: 16px;
  }
  .project-page .button {
    margin: 20px auto;
    justify-content: center;
    align-self: center;
    width: 100%;
  }
}
